# Python
__pycache__/
*.py[cod]
.venv/
venv/

# PlatformIO
.pio/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Python caches anywhere
**/__pycache__/

# Build artifacts
**/.pio/
**/build/